.header{
    width: 40rem
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 20rem;
    height: 40vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.navbar a{
    text-decoration: none;
    color: #fff;
}
.navbar a:hover{
    cursor: pointer;
    color: grey;
}